:root {
   --Lime-Green: hsl(163, 72%, 41%);
   --Bright-Red: hsl(356, 69%, 56%);
   --Facebook: hsl(208, 92%, 53%);
   --Twitter: hsl(203, 89%, 53%);
   --Instagram: linear-gradient(to right, #fdc468, #df4996);
   --YouTube: hsl(348, 97%, 39%);

   /* Dark Theme */
   --Toggle-dark: linear-gradient(to right, #378fe6, #3eda82);
   --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
   --Very-Dark-Blue-top-bg-pattern: hsl(232, 19%, 15%);
   --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
   --Desaturated-Blue-Text: hsl(228, 34%, 66%);
   --White-text: hsl(0, 0%, 100%);

   /*  Light Theme */
   --Toggle: hsl(230, 22%, 74%);
   --White-BG: hsl(0, 0%, 100%);
   --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
   --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
   --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
   --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

body {
   background-color: var(--Very-Dark-Blue-BG);
   font-size: 14px;
   font-family: "Inter", sans-serif;
}

.container {
   padding: 2rem 10rem;
}

/* Set the top edge of the box */
.dashboard-bx:first-child .dashboard-border,
.dashboard-bx:nth-child(2) .dashboard-border,
.dashboard-bx:nth-child(3) .dashboard-border,
.dashboard-bx:nth-child(4) .dashboard-border {
   width: 100%;
   height: 0.2rem;
   top: 0;
   left: 0;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
   position: absolute;
}

/* HEADER */
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header .header-titler {
   color: var(--White-text);
   font-size: 1.65rem;
   font-weight: 700;
   margin: 0;
}

header .header-subtitle {
   color: var(--Desaturated-Blue-Text);
   line-height: 1.5rem;
   font-weight: 700;
   margin-top: 4px;
   font-size: 0.9rem;
}

header .dark-mode {
   display: flex;
   align-items: center;
}

header .dark-mode p {
   padding-right: 1rem;
   color: var(--Desaturated-Blue-Text);
   font-weight: 700;
   font-size: 0.8rem;
}

/* MEDIA SCREEN HEADER */
@media screen and (max-width: 570px) {
   header {
      flex-direction: column;
      align-items: normal;
   }
   header .dark-mode {
      margin-top: 2rem;
   }
}

/* change theme button */
.switch {
   position: relative;
   display: inline-block;
   width: 3.5em;
   height: 1.6em;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.switch .ball {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--Toggle-dark);
   transition: all 0.3s;
   border-radius: 30px;
}

.switch .ball::before {
   position: absolute;
   content: "";
   height: 1.2em;
   width: 1.2em;
   border-radius: 50%;
   left: 0.2em;
   bottom: 0.2em;
   background-color: var(--Dark-Desaturated-Blue-Card-BG);
   transition: all 1.2s;
}

.switch input:checked + .ball {
   background: var(--Toggle-dark);
}

.switch input:checked + .ball::before {
   transform: translateX(1.7em);
   background-color: var(--White-BG);
}

/* DASHBOARD */
.dashboard-container {
   padding: 2.5rem 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   column-gap: 2rem;
   row-gap: 0px;
}
/* DASHBOARD BOX */
.dashboard-bx {
   background-color: var(--Dark-Desaturated-Blue-Card-BG);
   padding: 1.5rem 0;
   position: relative;
   border-radius: 0.5rem;
   cursor: pointer;
}
.dashboard-bx:hover {
   filter: brightness(1.2);
}
.dashboard-container .dashboard-bx:first-child .dashboard-border {
   background-color: var(--Facebook);
}
.dashboard-container .dashboard-bx:nth-child(2) .dashboard-border {
   background-color: var(--Facebook);
}

.dashboard-container .dashboard-bx:nth-child(3) .dashboard-border {
   background: var(--Instagram);
}
.dashboard-container .dashboard-bx:nth-child(4) .dashboard-border {
   background: var(--YouTube);
}

/* Social Media */
.dashboard-container .dashboard-bx .dashboard-social {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--Desaturated-Blue-Text);
}
/* Icon Social Media */
.dashboard-container .dashboard-bx .dashboard-social .icon {
   padding-right: 0.5rem;
}

/* Numbers */
.dashboard-number {
   padding: 1rem 0 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.dashboard-number h2 {
   font-size: 3rem;
   color: var(--White-text);
   font-weight: 700;
}

/* Followers */
.dashboard-follwers {
   color: var(--Desaturated-Blue-Text);
   letter-spacing: 5px;
   font-weight: 300;
   font-size: 0.8rem;
   text-transform: uppercase;
}

/* Days */
.dashboard-days {
   color: var(--Lime-Green);
   font-weight: 700;
   font-size: 0.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-up,
.icon-down {
   margin: auto 0.3rem auto 0;
}

/* MEDIA CONTAINER */
@media screen and (max-width: 570px) {
   .container {
      padding: 2rem 1.5rem;
   }
}
@media screen and (max-width: 990px) {
   .container {
      padding: 2rem 6rem;
   }
}
@media screen and (max-width: 770px) {
   .container {
      padding: 2rem 3rem;
   }
}

/* MEDIA SCREEN DASHBOARD */
@media screen and (max-width: 1200px) {
   .dashboard-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 1.5rem;
   }
}
/* MEDIA SCREEN DASHBOARD */
@media screen and (max-width: 1200px) and (max-width: 570px) {
   .dashboard-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      row-gap: 1.5rem;
   }
}

/* SECTION OVERVIEW */
.overview-title {
   padding-bottom: 1.5rem;
}
.overview-title h1 {
   color: var(--White-text);
}

/* OVERVIEW GRID */
.overview-container .overview-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   justify-content: space-between;
   row-gap: 1.5rem;
   column-gap: 2rem;
}
/* Cards internos da grid */
.overview-bx {
   background-color: var(--Dark-Desaturated-Blue-Card-BG);
   padding: 1.5rem 1.5rem;
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
}

/* Set indicator icons */
.overview-bx:nth-child(1) .data-percents,
.overview-bx:nth-child(3) .data-percents,
.overview-bx:nth-child(4) .data-percents,
.overview-bx:nth-child(5) .data-percents,
.overview-bx:nth-child(6) .data-percents {
   color: var(--Lime-Green);
}

.overview-bx:nth-child(2) .data-percents,
.overview-bx:nth-child(7) .data-percents,
.overview-bx:nth-child(8) .data-percents {
   color: var(--Bright-Red);
}

.overview-bx:hover {
   filter: brightness(1.2);
}

/* OVERVIEW DATA NAME*/
.data-name {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--Desaturated-Blue-Text);
   font-weight: 700;
}

/* OVERVIEW DATA NUMBER */
.data-number {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding-top: 1rem;
   font-size: 1.2rem;
}
.data-number h1 {
   color: var(--White-text);
}

/* OVERVIEW DATA PERCENTS */
.data-percents {
   display: flex;
   font-size: 0.8rem;
   font-weight: 700;
}
.data-percents .icon {
   margin: auto 0.2rem;
}

/* MEDIA OVERVIEW GRID */
@media screen and (max-width: 1200px) {
   .overview-container .overview-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 2rem;
      row-gap: 1.5rem;
   }
}
/* MEDIA OVERVIEW GRID */
@media screen and (max-width: 570px) {
   .overview-container .overview-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      column-gap: 2rem;
      row-gap: 1.5rem;
   }
}

.shade {
   width: 100vw;
   height: 30%;
   position: absolute;
   background-color: var(--Very-Dark-Blue-top-bg-pattern);
   z-index: -1;
}

/* LiGHT MODE THEME */
.lightMode .shade {
   background-color: var(--Very-Pale-Blue-Top-BG-Pattern);
}

body.lightMode {
   background-color: var(--White-BG);
}

.lightMode header .header-titler {
   color: var(--Very-Dark-Blue-BG);
}
.lightMode header .header-subtitle {
   color: var(--Dark-Grayish-Blue-Text);
}
.lightMode header .dark-mode p {
   color: var(--Dark-Grayish-Blue-Text);
}

.lightMode .dashboard-container .dashboard-bx {
   background-color: var(--Light-Grayish-Blue-Card-BG);
}

.lightMode .dashboard-container .dashboard-bx:hover {
   filter: brightness(0.95);
}

.lightMode .dashboard-container .dashboard-bx .dashboard__social {
   color: var(--Toggle);
}

.lightMode .dashboard-container .dashboard-bx .dashboard-number h2 {
   color: var(--Very-Dark-Blue-Text);
}

.lightMode .dashboard .dashboard-bx .dashboard-number .dashboard-followers {
   color: var(--Toggle);
}

.lightMode .overview-container .overview-title h1 {
   color: var(--Toggle);
}

.lightMode .overview-container .overview-grid .overview-bx {
   background-color: var(--Light-Grayish-Blue-Card-BG);
}

.lightMode .overview-container .overview-grid .overview-bx:hover {
   filter: brightness(0.95);
}

.lightMode .overview-container .overview-grid .overview-bx .data-name {
   color: var(--Dark-Grayish-Blue-Text);
}

.lightMode .overview-container .overview-grid .overview-bx .data-number h1 {
   color: var(--Very-Dark-Blue-Text);
}
